.inputnewHabit {
    padding-right: 0px;
}

.spiritual {
    color: greenyellow;
}

.sport {
    color: coral;
}

.food {
    color: cornflowerblue;
}

.study {
    color: orchid;
}

.emotional {
    color: yellow;
}

.another {
    color: cadetblue;
}

