@keyframes ldio-rtm11atahv { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-rtm11atahv > div {
    animation: ldio-rtm11atahv 1s infinite linear;
    transform-origin: 50px 50px;
}
.ldio-rtm11atahv > div div { position: absolute; }
.ldio-rtm11atahv > div div:nth-child(1), .ldio-rtm11atahv > div div:nth-child(2) {
    width: 72px;
    height: 72px;
    border: 2px solid;
    border-radius: 50%;
    border-color: transparent #5be1ad #5be1ad #5be1ad;
    box-sizing: border-box;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50px 50px;
}
.ldio-rtm11atahv > div div:nth-child(1) {
    transform: rotate(45deg) translate(14px, 14px);
}
.ldio-rtm11atahv > div div:nth-child(2) {
    transform: rotate(0.8999999999999986deg) translate(14px, 14px);;
}
.ldio-rtm11atahv > div div:nth-child(3) {
    width: 0;
    height: 0;
    border: 12px solid;
    border-color: transparent transparent transparent #5be1ad;
    transform: translate(50px, 4px);
}
.loadingio-spinner-reload-ex1ifm9u4jf {
    width: 74px;
    height: 74px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-rtm11atahv {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.74);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-rtm11atahv div { box-sizing: content-box; }